.titulo {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: blue;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}