.titulo {
    text-align: center;
    color: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /*border: 3px solid #ea1f08 */
}

button:hover {
    background: blue;
    color: white;
    transform: translateY(-2px);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.center input {
    border-radius: 30px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    width: 10vh;
    height: 30px;
}